.header-container {
  @include outer-container;
  text-align: center;

  @include media($mobile) {
    height: auto;
  }

  .blog-title {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0.7em 0 0.3em;

    @include media($mobile) {
      font-size: 1.5em;
      margin-bottom: 0.1em;
      padding: 0;
    }
  }

  .blog-subtitle {
    font-size: 1em;
    padding: 0 0 3em;

    @include media($mobile) {
      font-size: 0.5em;
      padding: 0 0 2em;
    }
  }
}

.footer-container {
  display: block;
  padding-bottom: 10em;
  text-align: center;
}
