%h1.blog-title
  = link_to('←', 'http://alexfox.me', title: 'Yes, this is a webring')
  = link_to('Adarsh Pandit', '/')
  = link_to('→', 'http://gabebw.com', title: 'Yes, this is a webring')

%h2.blog-subtitle
  Software Developer
