%h1.blog-title
  = link_to('←', 'http://hotlinewebring.club/adarsh/previous', title: 'Yes, this is a webring')
  = link_to('Adarsh Pandit', '/')
  = link_to('→', 'http://hotlinewebring.club/adarsh/next', title: 'Yes, this is a webring')

%h2.blog-subtitle
  Software Developer
