// Debugging Neat's Grid - turn this on to see the lines
$visual-grid: false;

// Colors
$black: #000000;
$white: #ffffff;
$blue: #2a98ff; // colourlovers.com/color/2A98FF/Roller_Disco
$dark-gray: #0f0f0f;
$dark-gray-opacity: rgba(26, 26, 26, 0);
$medium-gray: #4d4d4d;
$light-gray: #ddd;

// Font Colors
$action-color: $blue;

// Fonts
// This is the reference em definition. Do not change.
$base-font-size: 1em;

// Font Families
@import url(https://fonts.googleapis.com/css?family=Roboto);
$base-font-family: Roboto, Georgia, Times, serif;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.7;
$heading-line-height: 1.2;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Spacing
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
