.author
  .pic= image_tag 'http://www.gravatar.com/avatar/692dad2af6224bf856e94a96049292c4.png'
  .info
    %h6 Written by Adarsh Pandit
    %p
      Read more #{link_to 'posts by Adarsh', '/'}, and
      #{link_to 'follow Adarsh on Twitter', 'https://twitter.com/adarsh'}.
