---
title: Adarsh Pandit's Blog
---

%h1
  =link_to('Adarsh Pandit', '/')
%h3{class: 'tagline'}
  Ruby Developer at
  =link_to('thoughtbot', 'http://thoughtbot.com')

- blog.articles.select do |article|
  - if article.data.category.include?(category)
    = partial 'article', locals: { article: article }
