---
title: Adarsh Pandit
description:
---

%h1 Adarsh Pandit
%h3{class: 'tagline'}
  Ruby Developer at
  =link_to('thoughtbot', 'http://thoughtbot.com')

- blog.articles[0..50].each do |article|
  = partial 'article', locals: { article: article }
