---
title: Adarsh Pandit's Blog
description: Adarsh Pandit's Blog - Ruby, Rails, JavaScript, Detroit, Life
---

.articles-container
  - blog.articles.each do |article|
    = partial 'partials/article', locals: { article: article }

<a rel="me" href="https://ruby.social/@adarsh">Mastodon</a>